
    <nav class="nav">
        
        <a class="nav-link active">@Html.ActionLink(@Big.Nutresa.Imagix.UI.Idioms.Resource.FAQS, "FAQS", "Content",null, new {@class="nav-link" })</a>
        
    </nav>