<appSettings>

  <add key="Program" value="1"/>
  
  
  <add key="ApiBase" value="http://localhost:65366/"/>
  <add key="Proxy.Base" value="api"/>
  <add key="Proxy.BaseCategory" value="apiCategory"/>
  <add key="Proxy.GetCatalogFilter" value="GetCatalogGenericFilterV2"/>
  <add key="Proxy.GetRedemptionByCustomerID" value="GetRedemptionsByCustomerIdV2"/>
  <add key="Proxy.GetPrincipalCategoies" value="GetPrincipalCategoies"/>
  <add key="Proxy.GetCategoiesByParent" value="GetCategoiesByParent"/>

  <add key="Proxy.AddToCart" value="AddToCart?programId={0}&amp;productGuid={1}&amp;customerId={2}&amp;productReferenceGuid={3}&amp;quantity={4}&amp;selectedPaymentRule={5}"/>
  <add key="Proxy.ShowCartV2" value="ShowCartV2?programId={0}&amp;customerId={1}"/>

  <!--Shipping Info-->
  <add key="Proxy.GetShippingInformation" value="GetShippingInformation"/>
    <add key="Proxy.GetAllShippingInformation" value="GetAllShippingInformation"/>
  
    <add key="Proxy.DeleteShippingInformation" value="DeleteShippingInformation"/>
  <!--Shipping Info-->

  <add key="NetCommerce.Program" value="168"/>
  <add key="NetCommerce.GetCatalogGenericFilterV2.PageSize" value="30"/>
  <add key="NetCommerce.GetCatalogGenericFilterV2.PageIndex" value="1"/>
  <add key="NetCommerce.GetCatalogGenericFilterV2.ShowProductsWithInventory" value="True"/>
  <add key="NetCommerce.GetCatalogGenericFilterV2.BaseImageUrl" value="http://www.multistrategy.co/NetCommerceLebon/"/>

  <!--Services Nutresa-->
  <add key="ServNutresa.Usuario" value="cognox"/>
  <add key="ServNutresa.Clave" value="46948e5f"/>
  <add key="ServNutresa.GetUserData" value="getUserData"/>
  <add key="ServNutresa.GetUserPointsData" value="getUserPointsData"/>
  <add key="ServNutresa.Deduct" value="deduct"/>
  <add key="ServNutresa.Restore" value="restore"/>
  <add key="ServNutresa.UrlUserData" value="https://ncapp023.gruponutresa.com/Aplicaciones/ExitosGNCH/pruebas/webservice.nsf/userService?WSDL"/>
  <add key="ServNutresa.UrlUserDeductRestore" value="https://ncapp023.gruponutresa.com/Aplicaciones/ExitosGNCH/pruebas/webservice.nsf/ServicePoints?WSDL"/>

  <!--Services Nutresa-->

  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
</appSettings>